@font-face {
  font-family: "catfont"; /* Project id 1077480 */
  src: url('iconfont.woff2?t=1626802918781') format('woff2'),
       url('iconfont.woff?t=1626802918781') format('woff'),
       url('iconfont.ttf?t=1626802918781') format('truetype');
}

.catfont {
  font-family: "catfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cat-circle:before {
  content: "\f283";
}

.cat-load:before {
  content: "\e611";
}

.cat-container:before {
  content: "\e7d4";
}

.cat-database:before {
  content: "\e7d5";
}

.cat-sever:before {
  content: "\e7d6";
}

.cat-mobile:before {
  content: "\e7d7";
}

.cat-tablet:before {
  content: "\e7d8";
}

.cat-redenvelope:before {
  content: "\e7d9";
}

.cat-book:before {
  content: "\e7da";
}

.cat-filedone:before {
  content: "\e7db";
}

.cat-reconciliation:before {
  content: "\e7dc";
}

.cat-file-exception:before {
  content: "\e7dd";
}

.cat-filesync:before {
  content: "\e7de";
}

.cat-filesearch:before {
  content: "\e7df";
}

.cat-solution:before {
  content: "\e7e0";
}

.cat-fileprotect:before {
  content: "\e7e1";
}

.cat-file-add:before {
  content: "\e7e2";
}

.cat-file-excel:before {
  content: "\e7e3";
}

.cat-file-exclamation:before {
  content: "\e7e4";
}

.cat-file-pdf:before {
  content: "\e7e5";
}

.cat-file-image:before {
  content: "\e7e6";
}

.cat-file-markdown:before {
  content: "\e7e7";
}

.cat-file-unknown:before {
  content: "\e7e8";
}

.cat-file-ppt:before {
  content: "\e7e9";
}

.cat-file-word:before {
  content: "\e7ea";
}

.cat-file:before {
  content: "\e7eb";
}

.cat-file-zip:before {
  content: "\e7ec";
}

.cat-file-text:before {
  content: "\e7ed";
}

.cat-file-copy:before {
  content: "\e7ee";
}

.cat-snippets:before {
  content: "\e7ef";
}

.cat-audit:before {
  content: "\e7f0";
}

.cat-diff:before {
  content: "\e7f1";
}

.cat-Batchfolding:before {
  content: "\e7f2";
}

.cat-securityscan:before {
  content: "\e7f3";
}

.cat-propertysafety:before {
  content: "\e7f4";
}

.cat-safetycertificate:before {
  content: "\e7f5";
}

.cat-insurance:before {
  content: "\e7f6";
}

.cat-alert:before {
  content: "\e7f7";
}

.cat-delete:before {
  content: "\e7f8";
}

.cat-hourglass:before {
  content: "\e7f9";
}

.cat-bulb:before {
  content: "\e7fa";
}

.cat-experiment:before {
  content: "\e7fb";
}

.cat-bell:before {
  content: "\e7fc";
}

.cat-trophy:before {
  content: "\e7fd";
}

.cat-rest:before {
  content: "\e7fe";
}

.cat-USB:before {
  content: "\e7ff";
}

.cat-skin:before {
  content: "\e800";
}

.cat-home:before {
  content: "\e801";
}

.cat-bank:before {
  content: "\e802";
}

.cat-filter:before {
  content: "\e803";
}

.cat-funnelplot:before {
  content: "\e804";
}

.cat-like:before {
  content: "\e805";
}

.cat-unlike:before {
  content: "\e806";
}

.cat-unlock:before {
  content: "\e807";
}

.cat-lock:before {
  content: "\e808";
}

.cat-customerservice:before {
  content: "\e809";
}

.cat-flag:before {
  content: "\e80a";
}

.cat-moneycollect:before {
  content: "\e80b";
}

.cat-medicinebox:before {
  content: "\e80c";
}

.cat-shop:before {
  content: "\e80d";
}

.cat-rocket:before {
  content: "\e80e";
}

.cat-shopping:before {
  content: "\e80f";
}

.cat-folder:before {
  content: "\e810";
}

.cat-folder-open:before {
  content: "\e811";
}

.cat-folder-add:before {
  content: "\e812";
}

.cat-deploymentunit:before {
  content: "\e813";
}

.cat-accountbook:before {
  content: "\e814";
}

.cat-contacts:before {
  content: "\e815";
}

.cat-carryout:before {
  content: "\e816";
}

.cat-calendar-check:before {
  content: "\e817";
}

.cat-calendar:before {
  content: "\e818";
}

.cat-scan:before {
  content: "\e819";
}

.cat-select:before {
  content: "\e81a";
}

.cat-boxplot:before {
  content: "\e81b";
}

.cat-build:before {
  content: "\e81c";
}

.cat-sliders:before {
  content: "\e81d";
}

.cat-laptop:before {
  content: "\e81e";
}

.cat-barcode:before {
  content: "\e81f";
}

.cat-camera:before {
  content: "\e820";
}

.cat-cluster:before {
  content: "\e821";
}

.cat-gateway:before {
  content: "\e822";
}

.cat-car:before {
  content: "\e823";
}

.cat-printer:before {
  content: "\e824";
}

.cat-read:before {
  content: "\e825";
}

.cat-cloud-server:before {
  content: "\e826";
}

.cat-cloud-upload:before {
  content: "\e827";
}

.cat-cloud:before {
  content: "\e828";
}

.cat-cloud-download:before {
  content: "\e829";
}

.cat-cloud-sync:before {
  content: "\e82a";
}

.cat-video:before {
  content: "\e82b";
}

.cat-notification:before {
  content: "\e82c";
}

.cat-sound:before {
  content: "\e82d";
}

.cat-radarchart:before {
  content: "\e82e";
}

.cat-qrcode:before {
  content: "\e82f";
}

.cat-fund:before {
  content: "\e830";
}

.cat-image:before {
  content: "\e831";
}

.cat-mail:before {
  content: "\e832";
}

.cat-table:before {
  content: "\e833";
}

.cat-idcard:before {
  content: "\e834";
}

.cat-creditcard:before {
  content: "\e835";
}

.cat-heart:before {
  content: "\e836";
}

.cat-block:before {
  content: "\e837";
}

.cat-star:before {
  content: "\e839";
}

.cat-gold:before {
  content: "\e83a";
}

.cat-heatmap:before {
  content: "\e83b";
}

.cat-wifi:before {
  content: "\e83c";
}

.cat-attachment:before {
  content: "\e83d";
}

.cat-edit:before {
  content: "\e83e";
}

.cat-key:before {
  content: "\e83f";
}

.cat-api:before {
  content: "\e840";
}

.cat-disconnect:before {
  content: "\e841";
}

.cat-highlight:before {
  content: "\e842";
}

.cat-monitor:before {
  content: "\e843";
}

.cat-link:before {
  content: "\e844";
}

.cat-man:before {
  content: "\e845";
}

.cat-percentage:before {
  content: "\e846";
}

.cat-pushpin:before {
  content: "\e847";
}

.cat-phone:before {
  content: "\e848";
}

.cat-shake:before {
  content: "\e849";
}

.cat-tag:before {
  content: "\e84a";
}

.cat-wrench:before {
  content: "\e84b";
}

.cat-tags:before {
  content: "\e84c";
}

.cat-scissor:before {
  content: "\e84d";
}

.cat-mr:before {
  content: "\e84e";
}

.cat-share:before {
  content: "\e84f";
}

.cat-branches:before {
  content: "\e850";
}

.cat-fork:before {
  content: "\e851";
}

.cat-shrink:before {
  content: "\e852";
}

.cat-arrawsalt:before {
  content: "\e853";
}

.cat-verticalright:before {
  content: "\e854";
}

.cat-verticalleft:before {
  content: "\e855";
}

.cat-right:before {
  content: "\e856";
}

.cat-left:before {
  content: "\e857";
}

.cat-up:before {
  content: "\e858";
}

.cat-down:before {
  content: "\e859";
}

.cat-fullscreen:before {
  content: "\e85a";
}

.cat-fullscreen-exit:before {
  content: "\e85b";
}

.cat-doubleleft:before {
  content: "\e85c";
}

.cat-doubleright:before {
  content: "\e85d";
}

.cat-arrowright:before {
  content: "\e85e";
}

.cat-arrowup:before {
  content: "\e85f";
}

.cat-arrowleft:before {
  content: "\e860";
}

.cat-arrowdown:before {
  content: "\e861";
}

.cat-upload:before {
  content: "\e862";
}

.cat-colum-height:before {
  content: "\e863";
}

.cat-vertical-align-botto:before {
  content: "\e864";
}

.cat-vertical-align-middl:before {
  content: "\e865";
}

.cat-totop:before {
  content: "\e866";
}

.cat-vertical-align-top:before {
  content: "\e867";
}

.cat-download:before {
  content: "\e868";
}

.cat-sort-descending:before {
  content: "\e869";
}

.cat-sort-ascending:before {
  content: "\e86a";
}

.cat-fall:before {
  content: "\e86b";
}

.cat-swap:before {
  content: "\e86c";
}

.cat-stock:before {
  content: "\e86d";
}

.cat-rise:before {
  content: "\e86e";
}

.cat-indent:before {
  content: "\e86f";
}

.cat-outdent:before {
  content: "\e870";
}

.cat-menu:before {
  content: "\e871";
}

.cat-unorderedlist:before {
  content: "\e872";
}

.cat-orderedlist:before {
  content: "\e873";
}

.cat-align-right:before {
  content: "\e874";
}

.cat-align-center:before {
  content: "\e875";
}

.cat-align-left:before {
  content: "\e876";
}

.cat-pic-center:before {
  content: "\e877";
}

.cat-pic-right:before {
  content: "\e878";
}

.cat-bold:before {
  content: "\e879";
}

.cat-font-colors:before {
  content: "\e87a";
}

.cat-exclaimination:before {
  content: "\e87b";
}

.cat-font-size:before {
  content: "\e87c";
}

.cat-success:before {
  content: "\e77d";
}

.cat-infomation:before {
  content: "\e87d";
}

.cat-CI:before {
  content: "\e77e";
}

.cat-line-height:before {
  content: "\e87e";
}

.cat-Dollar:before {
  content: "\e77f";
}

.cat-strikethrough:before {
  content: "\e87f";
}

.cat-compass:before {
  content: "\e780";
}

.cat-underline:before {
  content: "\e880";
}

.cat-error:before {
  content: "\e781";
}

.cat-number:before {
  content: "\e881";
}

.cat-frown:before {
  content: "\e782";
}

.cat-italic:before {
  content: "\e882";
}

.cat-info:before {
  content: "\e783";
}

.cat-code:before {
  content: "\e883";
}

.cat-left-circle:before {
  content: "\e784";
}

.cat-column-width:before {
  content: "\e884";
}

.cat-down-circle:before {
  content: "\e785";
}

.cat-check:before {
  content: "\e885";
}

.cat-EURO:before {
  content: "\e786";
}

.cat-ellipsis:before {
  content: "\e886";
}

.cat-copyright:before {
  content: "\e787";
}

.cat-dash:before {
  content: "\e887";
}

.cat-minus-circle:before {
  content: "\e788";
}

.cat-close:before {
  content: "\e888";
}

.cat-meh:before {
  content: "\e789";
}

.cat-enter:before {
  content: "\e889";
}

.cat-plus-circle:before {
  content: "\e78a";
}

.cat-line:before {
  content: "\e88a";
}

.cat-play-circle:before {
  content: "\e78b";
}

.cat-minus:before {
  content: "\e88b";
}

.cat-question-circle:before {
  content: "\e78c";
}

.cat-question:before {
  content: "\e88c";
}

.cat-Pound:before {
  content: "\e78d";
}

.cat-rollback:before {
  content: "\e88d";
}

.cat-right-circle:before {
  content: "\e78e";
}

.cat-small-dash:before {
  content: "\e88e";
}

.cat-smile:before {
  content: "\e78f";
}

.cat-pause:before {
  content: "\e88f";
}

.cat-trademark:before {
  content: "\e790";
}

.cat-bg-colors:before {
  content: "\e890";
}

.cat-time-circle:before {
  content: "\e791";
}

.cat-crown:before {
  content: "\e891";
}

.cat-timeout:before {
  content: "\e792";
}

.cat-drag:before {
  content: "\e892";
}

.cat-earth:before {
  content: "\e793";
}

.cat-desktop:before {
  content: "\e893";
}

.cat-YUAN:before {
  content: "\e794";
}

.cat-gift:before {
  content: "\e894";
}

.cat-up-circle:before {
  content: "\e795";
}

.cat-stop:before {
  content: "\e895";
}

.cat-warning:before {
  content: "\e796";
}

.cat-fire:before {
  content: "\e896";
}

.cat-sync:before {
  content: "\e797";
}

.cat-thunderbolt:before {
  content: "\e897";
}

.cat-transaction:before {
  content: "\e798";
}

.cat-undo:before {
  content: "\e799";
}

.cat-redo:before {
  content: "\e79a";
}

.cat-reload:before {
  content: "\e79b";
}

.cat-reloadtime:before {
  content: "\e79c";
}

.cat-message:before {
  content: "\e79d";
}

.cat-dashboard:before {
  content: "\e79e";
}

.cat-issuesclose:before {
  content: "\e79f";
}

.cat-poweroff:before {
  content: "\e7a0";
}

.cat-logout:before {
  content: "\e7a1";
}

.cat-piechart:before {
  content: "\e7a2";
}

.cat-setting:before {
  content: "\e7a3";
}

.cat-eye:before {
  content: "\e7a4";
}

.cat-location:before {
  content: "\e7a5";
}

.cat-edit-square:before {
  content: "\e7a6";
}

.cat-export:before {
  content: "\e7a7";
}

.cat-save:before {
  content: "\e7a8";
}

.cat-Import:before {
  content: "\e7a9";
}

.cat-appstore:before {
  content: "\e7aa";
}

.cat-close-square:before {
  content: "\e7ab";
}

.cat-down-square:before {
  content: "\e7ac";
}

.cat-layout:before {
  content: "\e7ad";
}

.cat-left-square:before {
  content: "\e7ae";
}

.cat-play-square:before {
  content: "\e7af";
}

.cat-control:before {
  content: "\e7b0";
}

.cat-codelibrary:before {
  content: "\e7b1";
}

.cat-detail:before {
  content: "\e7b2";
}

.cat-minus-square:before {
  content: "\e7b3";
}

.cat-plus-square:before {
  content: "\e7b4";
}

.cat-right-square:before {
  content: "\e7b5";
}

.cat-project:before {
  content: "\e7b6";
}

.cat-wallet:before {
  content: "\e7b7";
}

.cat-up-square:before {
  content: "\e7b8";
}

.cat-calculator:before {
  content: "\e7b9";
}

.cat-interation:before {
  content: "\e7ba";
}

.cat-check-square:before {
  content: "\e7bb";
}

.cat-border:before {
  content: "\e7bc";
}

.cat-border-outer:before {
  content: "\e7bd";
}

.cat-border-top:before {
  content: "\e7be";
}

.cat-border-bottom:before {
  content: "\e7bf";
}

.cat-border-left:before {
  content: "\e7c0";
}

.cat-info-copy:before {
  content: "\e898";
}

.cat-border-right:before {
  content: "\e7c1";
}

.cat-border-inner:before {
  content: "\e7c2";
}

.cat-border-verticle:before {
  content: "\e7c3";
}

.cat-border-horizontal:before {
  content: "\e7c4";
}

.cat-radius-bottomleft:before {
  content: "\e7c5";
}

.cat-radius-bottomright:before {
  content: "\e7c6";
}

.cat-radius-upleft:before {
  content: "\e7c7";
}

.cat-radius-upright:before {
  content: "\e7c8";
}

.cat-radius-setting:before {
  content: "\e7c9";
}

.cat-adduser:before {
  content: "\e7ca";
}

.cat-deleteteam:before {
  content: "\e7cb";
}

.cat-deleteuser:before {
  content: "\e7cc";
}

.cat-addteam:before {
  content: "\e7cd";
}

.cat-user:before {
  content: "\e7ce";
}

.cat-team:before {
  content: "\e7cf";
}

.cat-areachart:before {
  content: "\e7d0";
}

.cat-linechart:before {
  content: "\e7d1";
}

.cat-barchart:before {
  content: "\e7d2";
}

.cat-pointmap:before {
  content: "\e7d3";
}

