/* 默认按钮样式 */
.button{
  cursor: pointer;
  padding: 6px 20px;
  font-family: Segoe UI;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: #0078D4;
  transition: .2s background;
}
.button > .inner{
  display: inline-block;
}
.button > .inner > .text{
  margin-left: 8px;
  margin-right: 8px;
}
.button:hover{
  background-color: #106EBE;
}
.button:active{
  background-color: #005A9E;
}
.button:focus{
  padding: 1px;
}
.button:focus > .inner{
  padding: 4px 18px;
  border-radius: 1px;
  border: 1px solid #fff;
}
[disabled].button{
  cursor: not-allowed;
  color: #A19F9D;
  background-color: #F3F2F1;
}

/* 次级按钮样式 */
.button.secondary{
  padding: 5px 19px;
  background-color: #fff;
  color: #201F1E;
  border: 1px solid #8A8886;
}
.button.secondary:hover{
  background-color: #F3F2F1;
}
.button.secondary:active{
  background-color: #EDEBE9;
}
.button.secondary:focus > .inner{
  border: 1px solid #323130;
}

/* 文字按钮样式 */
.button.text{
  border: 0;
  color: #201F1E;
  background: #fff;
}
.button.text  > .inner > .icon{
  color: #0078D4;
}
.button.text:hover{
  background-color: #F3F2F1;
}
.button.text:active{
  background-color: #EDEBE9;
}
.button.text:focus > .inner{
  border: 1px solid #323130;
}
/* 图标按钮样式 */
.button.icon{
  padding: 7px;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
}
.button.icon > .inner > .icon{
  color: #0078D4;
}
.button.icon > .inner > .dropdown{
  color: #0078D4;
  margin-left: 8px;
}
.button.icon:hover{
  background-color: #F3F2F1;
}
.button.icon:active{
  background-color: #EDEBE9;
}
.button.icon:focus{
  border-radius: 0px;
  border: 1px solid #323130;
}
.button.icon:focus > .inner{
  padding: 0;
  border: 0;
}